cpp/build
cpp/storage
cpp/backup_storage
cpp/CMakeLists.txt
cpp/eigen-3.4.0
shell/LogFolder
OTA-C.code-workspace
.gitignore
**/*.ipynb
.ipynb_checkpoints
cpp/*.ipynb
notebooks
backup
plots
ProjectRoot/build
ProjectRoot/storage
ProjectRoot/bkp_storage